<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Congratulations Your Application for {{course}} Approved</title>
</head>
<body>
  <h2>Namaste {{name}}! </h2>
  <p>Thank you for joining the course. We wish to inform you that your registration for {{course}} is confirmed starting from {{event_start_date}}.</p>
<p>The course information like the zoom login link and what you need for this course will be emailed to you two days before the course starts.</p>

<p>
For all queries please write to us at bharatyoga@satsang-foundation.org.</p>
</br>
</br>

<p>Kind regards,</p>

<p>Bharat Yoga Vidya Kendra</p>
<p>(An Initiative of The Satsang Foundation)</p>
<p>Nakkaladinne Thanda | Madanapalle - 517325.</p>
<p>Annamayya (District) |  AndhraPradesh |India</p>
<p>Whatsapp / Mob: +91 8999 039823  | Bharatyogavidyakendra.in
</p>

</body>
</html>