<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Congratulations Your Application for {{course}} Approved</title>
</head>
<body>
  <h2>Namaste {{name}}! </h2>
  <p>{{email_body}}</p>
<p>Best wishes,</p>
<p>Bharat Yoga Vidya Kendra
 </p>
</body>
</html>