<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Your Application for {{course}} is Rejected</title>
</head>
<body>
  <h2>Namaste {{name}}! </h2>
  <p> Your application for {{course}} is Rejected, Please email us at bharatyoga@satsang-foundation.org or call us at +91 8999039823 if you have any queries.</p> 
  <p>Best wishes,</p>
<p>Bharat Yoga Vidya Kendra
 </p>
</body>
</html>